USE [master]
GO
/****** Object:  Database [ctest]    Script Date: 2019/7/11 1:48:38 ******/
CREATE DATABASE [ctest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ctest', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ctest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ctest_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ctest_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ctest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ctest]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 2019/7/11 1:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[UNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](32) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ct]    Script Date: 2019/7/11 1:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TG] [varchar](200) NULL,
	[A] [varchar](100) NULL,
	[B] [varchar](100) NULL,
	[C] [varchar](100) NULL,
	[D] [varchar](100) NULL,
	[DA] [varchar](1) NULL,
 CONSTRAINT [PK_ct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KIND]    Script Date: 2019/7/11 1:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_KIND] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[wtest]    Script Date: 2019/7/11 1:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[wtest](
	[UNAME] [varchar](20) NOT NULL,
	[TDATE] [datetime] NULL,
	[INTV] [int] NULL,
	[SCORE] [float] NULL,
 CONSTRAINT [PK_wtest] PRIMARY KEY CLUSTERED 
(
	[UNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[admin] ([UNAME], [PASSWORD]) VALUES (N'admin', N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[KIND] ON 

INSERT [dbo].[KIND] ([ID], [Name], [ParentID]) VALUES (1, N'文学', NULL)
INSERT [dbo].[KIND] ([ID], [Name], [ParentID]) VALUES (2, N'历史', NULL)
INSERT [dbo].[KIND] ([ID], [Name], [ParentID]) VALUES (3, N'地理', NULL)
SET IDENTITY_INSERT [dbo].[KIND] OFF
USE [master]
GO
